@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://img.freepik.com/vector-gratis/doctor-tomando-muestra-sangre-paciente-mayor-hospital-hombre-haciendo-examen-chequeo-clinica-senior-sentado-silla_575670-1318.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Sistema de Gestión Hospitalaria</h1>
            <p>Nuestro sistema de gestión hospitalaria optimiza la administración de hospitales, clínicas y centros de salud, 
               permitiendo una gestión eficiente de pacientes, citas médicas, historiales clínicos, personal y recursos. 
               Con una interfaz intuitiva y segura, facilita el acceso a la información en tiempo real, mejorando la calidad 
               del servicio y la toma de decisiones.</p>
            <a class="btn btn-primary" href="#!">Citas</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">"Cuidamos tu salud, comprometidos con tu bienestar."!</p></div>
    </div>
    <!-- Content Row-->
    <div class="row">
        <!-- Gestión de Pacientes -->
        <div class="col-md-3">
            <div class="card text-center h-100">
                <div class="card-body">
                    <i class="fas fa-medkit fa-3x mb-3 text-primary"></i>
                    <h5 class="card-title">Gestión de Pacientes</h5>
                    <p class="card-text">Nuestro Hospital garantiza el correcto manejo de datos de cada paciente registrado.</p>
                </div>
            </div>
        </div>
        <!-- Gestión de Médicos -->
        <div class="col-md-3">
            <div class="card text-center h-100">
                <div class="card-body">
                    <i class="fas fa-flask fa-3x mb-3 text-primary"></i>
                    <h5 class="card-title">Gestión de Tratamientos</h5>
                    <p class="card-text">El Hospital ofrece los diferentes tipos de tratamientos acorde a cada especialidad.</p>
                </div>
            </div>
        </div>
        <!-- Gestión de Citas -->
        <div class="col-md-3">
            <div class="card text-center h-100">
                <div class="card-body">
                    <i class="fas fa-store fa-3x mb-3 text-primary"></i>
                    <h5 class="card-title">Gestión de Citas</h5>
                    <p class="card-text">Gestionamos correctamente el agendamiento de citas con un correcto manejo del tiempo.</p>
                </div>
            </div>
        </div>
        <!-- Gestión de Tratamientos -->
        <div class="col-md-3">
            <div class="card text-center h-100">
                <div class="card-body">
                    <i class="fas fa-pills fa-3x mb-3 text-primary"></i>
                    <h5 class="card-title">Gestión de Especialidades</h5>
                    <p class="card-text">Ofrecemos calidad y eficiencia de parte de nuestros médicos para cada especialidad.</p>
                </div>
            </div>
        </div>
    </div>
</div>
