@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://img.freepik.com/vector-gratis/doctor-tomando-muestra-sangre-paciente-mayor-hospital-hombre-haciendo-examen-chequeo-clinica-senior-sentado-silla_575670-1318.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Sistema de Gestión Hospitalaria</h1>
            <p>Nuestro sistema de gestión hospitalaria optimiza la administración de hospitales, clínicas y centros de salud, 
               permitiendo una gestión eficiente de pacientes, citas médicas, historiales clínicos, personal y recursos. 
               Con una interfaz intuitiva y segura, facilita el acceso a la información en tiempo real, mejorando la calidad 
               del servicio y la toma de decisiones.</p>
            <a class="btn btn-primary" href="#!">Citas</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">"Cuidamos tu salud, comprometidos con tu bienestar."!</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Especialidades</h2>
                    <p class="card-text">
                        Nuestro hospital cuenta con una amplia variedad de especialidades para atender todas tus necesidades de salud, 
                        incluyendo cardiología, pediatría, ginecología, traumatología, neurología, dermatología y muchas más. Brindamos 
                        atención integral con equipos de última tecnología y profesionales altamente capacitados.
                    </p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Tratamientos</h2>
                    <p class="card-text">
                        Ofrecemos una amplia gama de tratamientos especializados para diversas condiciones de salud, 
                        basados en las mejores prácticas médicas y tecnología de vanguardia. Nuestro equipo de especialistas 
                        diseña planes de tratamiento personalizados, asegurando una atención efectiva y centrada en el 
                        bienestar del paciente.
                    </p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Médicos</h2>
                    <p class="card-text">
                        Contamos con un equipo de médicos altamente calificados, con amplia experiencia y vocación de servicio. 
                        Nos enfocamos en brindar atención personalizada, precisa y humana, garantizando el bienestar y la seguridad 
                        de nuestros pacientes en cada consulta y tratamiento.
                    </p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>
</div>
