@{
    ViewData["Title"] = "Index";
}

<h1 class="display-6 text-center fw-bold"><i class="fa fa-pills"></i>Facturas</h1>
<br />
<div class="container-fluid px-4">
    <div class="border border-secondary rounded p-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="h2 text-coffee fw-bold mb-0">
                <i class="bi bi-table"></i> Registro de Facturas
            </h1>
            <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" onclick="MostrarModal()">
                <i class="bi bi-plus-circle"></i> Nueva Factura
            </button>
        </div>
    </div>
    <br />
    <div class="modal fade" id="modalFactura" tabindex="-1" aria-labelledby="modalFacturaLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content border-0 shadow-lg">
                <div class="modal-header border-bottom">
                    <h5 class="modal-title fs-5 text-coffee">
                        <i class="bi bi-capsule me-2"></i>Gestionar Factura
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body p-4">
                    <form id="frmFactura" method="post" class="row g-4">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control border-coffee"
                                       id="id" name="id" readonly>
                                <label for="id" class="text-muted">ID Factura</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select class="form-control border-coffee" id="Paciente" name="pacienteId">
                                    <option value="">Seleccione</option>
                                </select>
                                <label for="Paciente" class="text-muted">Paciente</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="date" class="form-control border-coffee"
                                       id="fechaPago" name="fechaPago">
                                <label for="fechaPago" class="text-muted">Fecha</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="number" step="0.01" class="form-control border-coffee"
                                       id="monto" name="monto">
                                <label for="monto" class="text-muted">Monto</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control border-coffee"
                                       id="metodoPago" name="metodoPago">
                                <label for="metodoPago" class="text-muted">MetodoPago</label>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="modal-footer border-top">
                    <button type="button" class="btn btn-outline-coffee" onclick="LimpiarFactura()">
                        <i class="bi bi-eraser me-2"></i>Limpiar
                    </button>
                    <button type="button" class="btn btn-coffee" onclick="GuardarFactura()">
                        <i class="bi bi-save me-2"></i>Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-0 shadow">
        <div class="card-header text-dark py-3">
            <h5 class="card-title mb-0">
                Listado de Facturas
            </h5>
        </div>
        <div class="card-body p-0 bg-light-coffee">
            <div class="table-responsive">
                <div id="divContenedorTabla" class="rounded-3"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/generico.js"></script>
<script src="~/js/Facturacion.js"></script>