<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font Awesome para los íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-dyZBKnx3Zs0+e+cvsm3Hk2MlEJ7K1+8Zqk3o9eG1V9x+aV2f1UslJ5K7X6Vb5KkEdSJbT+2ckRwF+Pe9K+g+ag=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="side-nav">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-tachometer-alt"></i>
                        <span class="menu-text">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Pacientes" asp-action="Index">
                        <i class="fas fa-user"></i>
                        <span class="menu-text">Pacientes</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a asp-area="" asp-controller="Citas" asp-action="Index">
                        <i class="fas fa-calendar-alt"></i>
                        <span class="menu-text">Citas</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Medicos" asp-action="Index">
                        <i class="fas fa-user-md"></i>
                        <span class="menu-text">Medicos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Tratamientos" asp-action="Index">
                        <i class="fas fa-notes-medical"></i>
                        <span class="menu-text">Tratamientos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="" asp-controller="Facturacion" asp-action="Index">
                        <i class="fas fa-credit-card"></i>
                        <span class="menu-text">Pagos</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - GestionHospitalaria - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/navbar.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
