@{
	ViewData["Title"] = "Index";
}
<div class="text-center">
    <h1 class="display-4">Listado de Pacientes</h1>
</div>
<div id="divTable"></div>

<!-- Incluye primero tu archivo genérico y luego el de Pacientes -->
<script src="~/js/generico.js"></script>
<script src="~/js/Pacientes.js"></script>